.login-overlay {
    
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f5f5f5;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.335, 1.05); }
    .login-overlay:after {
      position: absolute;
      top: 0;
      width: 100%;
      height: 300px;
      left: 0;
      right: 0;
      background: #2979FF;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      content: "";
      box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.14); }
    .login-overlay .logo {
      display: block;
      margin: 0 auto;
      position: relative;
      z-index: 1;
      text-transform: uppercase;
      color: white;
      font-size: 27px;
      letter-spacing: 1px;
      top: 70px; }
      .login-overlay .logo .smaller {
        font-size: 16px;
        font-weight: 100;
        letter-spacing: 5px;
        margin-left: -8px; }
    .login-overlay .form-container {
      position: relative;
      z-index: 1;
      top: 100px;
      background: #ffffff;
      width: 50%;
      margin: 0 auto; }
      .login-overlay .form-container .icon {
        padding-top: 30px; }
        .login-overlay .form-container .icon .mdi {
          color: #2979FF;
          font-size: 110px; }
        .login-overlay .form-container .icon .header {
          margin-top: 10px;
          font-size: 20px;
          font-weight: 100;
          text-transform: uppercase; }
      .login-overlay .form-container .inputs {
        margin-top: 10px; }
        .login-overlay .form-container .inputs .mdl-textfield {
          width: 75%; }
        .login-overlay .form-container .inputs .buttons {
          width: 75%;
          margin: 5px auto; }
          .login-overlay .form-container .inputs .buttons .mdl-checkbox {
            text-transform: uppercase;
            text-align: initial;
            width: 50%;
            float: left; }
          .login-overlay .form-container .inputs .buttons .signup {
            float: right; }
            .login-overlay .form-container .inputs .buttons .signup a {
              text-decoration: none;
              color: #2979FF; }
          .login-overlay .form-container .inputs .buttons .link {
            padding-top: 40px;
            padding-bottom: 30px; }
            .login-overlay .form-container .inputs .buttons .link .mdl-button {
              background: #2979FF;
              color: white;
              font-weight: 100;
              width: 25%;
              font-size: 15px; }
/* Typography */
/* Shadows */
/* Animations */
.mdl-textfield {
  position: relative;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  max-width: 100%;
  margin: 0;
  padding: 20px 0; }
  .mdl-textfield .mdl-button {
    position: absolute;
    bottom: 20px; }

.mdl-textfield--align-right {
  text-align: right; }

.mdl-textfield--full-width {
  width: 100%; }

.mdl-textfield--expandable {
  min-width: 32px;
  width: auto;
  min-height: 32px; }

.mdl-textfield__input {
  border: none;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  padding: 4px 0;
  width: 100%;
  background: 16px;
  text-align: left;
  color: inherit; }
  .mdl-textfield.is-focused .mdl-textfield__input {
    outline: none; }
  .mdl-textfield.is-invalid .mdl-textfield__input {
    border-color: rgb(222, 50, 38);
    box-shadow: none; }
  .mdl-textfield.is-disabled .mdl-textfield__input {
    background-color: transparent;
    border-bottom: 1px dotted rgba(0,0,0, 0.12); }

.mdl-textfield__label {
  bottom: 0;
  color: rgba(0,0,0, 0.26);
  font-size: 16px;
  left: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
  top: 24px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left; }
  .mdl-textfield.is-dirty .mdl-textfield__label {
    visibility: hidden; }
  .mdl-textfield--floating-label .mdl-textfield__label {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
  .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
    color: rgb(63,81,181);
    font-size: 12px;
    top: 4px;
    visibility: visible; }
  .mdl-textfield--floating-label.is-focused .mdl-textfield__expandable-holder .mdl-textfield__label,
  .mdl-textfield--floating-label.is-dirty .mdl-textfield__expandable-holder .mdl-textfield__label {
    top: -16px; }
  .mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
    color: rgb(222, 50, 38);
    font-size: 12px; }
  .mdl-textfield__label:after {
    background-color: rgb(63,81,181);
    bottom: 20px;
    content: '';
    height: 2px;
    left: 45%;
    position: absolute;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    width: 10px; }
  .mdl-textfield.is-focused .mdl-textfield__label:after {
    left: 0;
    visibility: visible;
    width: 100%; }
  .mdl-textfield.is-invalid .mdl-textfield__label:after {
    background-color: rgb(222, 50, 38); }

.mdl-textfield__error {
  color: rgb(222, 50, 38);
  position: absolute;
  font-size: 12px;
  margin-top: 3px;
  visibility: hidden; }
  .mdl-textfield.is-invalid .mdl-textfield__error {
    visibility: visible; }

.mdl-textfield__expandable-holder {
  display: inline-block;
  position: relative;
  margin-left: 32px;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  max-width: 0.1px; }
  .mdl-textfield.is-focused .mdl-textfield__expandable-holder, .mdl-textfield.is-dirty .mdl-textfield__expandable-holder {
    max-width: 600px; }
  .mdl-textfield__expandable-holder .mdl-textfield__label:after {
    bottom: 0; }

    .example-container {
      display: flex;
      flex-direction: column;
    }
    
    .example-container > * {
      width: 100%;
    }

    .example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }
    
    .example-full-width {
      width: 100%;
    }

    a:focus,a:visited{
      color: #ffffff  !important;

    }