<!-- <mat-toolbar color="primary" >
  <mat-toolbar-row>
    <span>Print Melon</span>

    <span class="example-spacer"></span>

    <button mat-button>My Listing Products</button>
    <button mat-button>Orders</button>
    <button mat-button>Designs</button>
    <button mat-button>Stores</button>
    <button mat-button>Notification</button>
    <button mat-button>User</button>
  </mat-toolbar-row>
</mat-toolbar> -->

<div class="container">
  <div class="row">
    <div class="col-md-6 no-float">
      <mat-card class="center text-center">

        <img class="img-responsive" src="/assets/background.jpg">


        <button mat-raised-button color="accent" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="top:50px"
          mat-button>Create New Design</button>

      </mat-card>
    </div>
    <div class="col-md-6 no-float">
      <mat-card class="center text-center">

        <img class="img-responsive" src="/assets/background.jpg">


        <button mat-raised-button color="accent" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="top:50px"
          mat-button>Connect Store</button>

      </mat-card>
    </div>
  </div>
</div>